.header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 110%;
  height: 4px;
  border-radius: 4px;
  background: #747bff;

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease;
}

.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}
