/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  max-width: 1200px;
}

.gallery li {
  flex-basis: calc(33.333% - 24px);
  box-sizing: border-box;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.feedback-form {
  display: flex;

  flex-direction: column;

  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  align-self: flex-start;
  margin-bottom: 8px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}

textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 100%;
  height: 80px;
  resize: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin-top: 16px;
  border: none;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: #6c8cff;
}

input:hover {
  border: 1px solid #000;
}

textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

label:first-child {
  margin-bottom: 8px;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 110%;
  height: 4px;
  border-radius: 4px;
  background: #747bff;

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease;
}

.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}
